
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image: url('./assets/background/mtn2.jpg');
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 100vh;
}

.header {
  margin-top: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header-top {
  display: flex;
  width: 100%;
  height: 80px;
}

.header-top__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.header-logo {
  color: inherit;
  text-decoration: inherit;
  font-size: 100px;
}

.header-top__navbar {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header-top__seperator {
  width: 100%;
  border: none;
  height: 2px;
  margin-top: 2px;
  background-color: black;
}

.header-top__navigation {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 55px;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
}

p {
  padding: 50px 50px 50px 50px;
}

img {
  padding: 5px 7px 5px 5px;
  float: left; 
}

footer {
  margin-top: 100px;
}

.my-2 {
    float: left; 
    padding: 20px 20px 20px 20;
    border-radius: 1%;
    background-color:#fff9f69c;
    box-shadow: 5px 5px 8px #020202;
    text-shadow: rgb(252, 249, 249) 0px 0px 10px;
    margin-right: 100px;
  }

.my-5 {
  padding: 100px 0 0 100px;
}

.allResume {
  margin-right: 500px;
  border-radius: 1%;
  background-color:#fff9f69c;
  box-shadow: 5px 5px 8px #020202;
  text-shadow: rgb(252, 249, 249) 0px 0px 10px;
}

h1 {
  padding: 0 0 0 70px;
  font-size:xx-large;
}

h2, h3 {
  padding: 0 0 0 70px;
  font-size: larger;
  font-style: italic;
}

.descr {
  padding: 0 0 0 70px;
}

h4 {
  margin: 1% 0 1% 0;
}

.front, .back, .other {
  padding: 10px 10px 10px 70px;
}

._12 {
  font-size: 1.2em;
}

._14 {
  font-size: 1.4em;
}

.p-1 {
  float: left; 
  padding: 20px 20px 20px 20;
  border-radius: 0.5%;
  background-color:#fff9f69c;
  box-shadow: 5px 5px 8px #020202;
  text-shadow: rgb(252, 249, 249) 0px 0px 10px;
  margin-bottom: 50px;
  margin-right: 950px;
  margin-left: 80px;
}

.contact-c {
  float:left; 
  padding: 20px 20px 20px 20;
  border-radius: 1%;
  background-color:#fff9f69c;
  box-shadow: 5px 5px 8px #020202;
  text-shadow: rgb(252, 249, 249) 0px 0px 10px;
  position: center;
}

.projects-m {
  padding: 50px 0 0 0;
}

.projects-bt, .projects-iru {
  margin-right: 500px;
}

.portfolio {
 padding: 0px 50px 0px 70px;
 text-decoration: underline;

}

.contact-c {
  width:30%;
  padding: 0 30px 30px 30px;
  margin-top: 40px;
  margin-left: 500px;

  padding: 10px;
}

.input {
  padding: 5px 5px 5px 10px;
}

.submit {
  margin-left: 10px;
  background-color: #cadde9;
  border-radius: 3px;
  border: 1px solid #5496c5;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #246594;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;

  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-8:hover,
.button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

.footer-social-icons {
  width: 350px;
  display:block;
  margin: 0 auto;
}

.social-icon {
  color: #fff;
}

.social-icons {
  padding: 600px 0 0 0;
}

ul.social-icons {
  margin-top: 10px;
}

.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
}

.fa-github {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}

.fa-github:hover {
  background-color: #3d5b99;
}

.fa-linkedin {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}

.fa-linkedin:hover {
  background-color: #0073a4;
}

.fa-instagram {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}

.fa-instagram:hover {
  background-color: #e25714;
}

@media screen and (max-width: 980px) {
  .p-p {
    float: left; 
  padding: 2020px 20px 20px 20;
  border-radius: 0.5%;
  background-color:#fff9f69c;
  box-shadow: 5px 5px 8px #020202;
  text-shadow: rgb(252, 249, 249) 0px 0px 10px;
  margin-bottom: 50px;
  margin-right: 0px;
  margin-left: 80px;
  }
}
  @media screen and (max-width: 768px) {
    .p-p {
      float: left; 
    padding: 2020px 20px 20px 20;
    border-radius: 0.5%;
    background-color:#fff9f69c;
    box-shadow: 5px 5px 8px #020202;
    text-shadow: rgb(252, 249, 249) 0px 0px 10px;
    margin-bottom: 50px;
    margin-right: 0px;
    margin-left: 80px;
    }
  }
  @media screen and (max-width: 575px) {

    .header-logo {
      
      width: 10000%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
    .contact-form {
      order: 3;
  }
}





